<div class="row margin-top-10">
  <div class="col-md-12 col-sm-12">
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption caption-md">
          <i class="icon-bar-chart theme-font hide"></i>
          <span class="caption-subject theme-font bold uppercase">Bem Vindo</span>
        </div>
        <div class="actions">
        </div>
      </div>
      <div class="portlet-body">
        Bem vindo ao sistema Proeficiency.
      </div>
    </div>
  </div>
</div>

