<ul class="nav navbar-nav">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li class="active">
    <a href="/students" class="iconify">
      <i class="icon-home"></i>
      Estudantes </a>
  </li>
  <li class="active">
    <a href="/courses" class="iconify">
      <i class="icon-home"></i>
      Cursos </a>
  </li>
  <li class="active">
    <a href="/classrooms" class="iconify">
      <i class="icon-home"></i>
      Matriculas </a>
  </li>
</ul>

